<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.shanai.account.activity.AccountPhoneLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.shanai.account.activity.AccountVerifyCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>